<div class="container text-center">
    <h3>Livros Cadastrados</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th> 
                <th>Título</th>
                <th>Autor</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <!-- Diretiva: um for do angular para, por exemplo, mostrar todos os elementos do array -->
            <tr *ngFor="let book of books">
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
